@model StudentApplication.Models.ViewModel.StudentDepartmentViewModel
@{
    ViewBag.Title = "Details";
}

<h1>Student Details</h1>
<hr/>
<h3>Personal Details</h3>
<p>Name:<span>@Model.StudentFirstName</span></p>
<p>Age:<span>@Model.StudentAge</span></p>
<p>Email ID:<span>@Model.StudentEmail</span></p>
<p>Gender:<span>@Model.StudentGender</span></p>
<hr/>
<h3>Department details</h3>
<hr/>
<p>Department Name:<span>@Model.DepartmentName</span></p>
<p>Location:<span>@Model.Location</span></p>

<hr/>
<div>
    <pre>
        @Html.ActionLink("Edit", "Edit", new { ID = Model.StudentID })
        @Html.ActionLink("Back to List", "Index")
    </pre>
</div>
