@model StudentApplication.Models.ViewModel.StudentDepartmentViewModel
@{
    ViewBag.Title = "Details";
}

<h1>Student Details</h1>
<hr/>
<h3>Personal Details</h3>
<p><b>Name: </b><span>@Model.StudentFirstName</span></p>
<p><b>Age: </b><span>@Model.StudentAge</span></p>
<p><b>Email ID: </b><span>@Model.StudentEmail</span></p>
<p><b>Gender: </b><span>@Model.StudentGender</span></p>
<hr/>
<h3>Department details</h3>
<hr/>
<p><b>Department Name:</b><span>@Model.DepartmentName</span></p>
<p><b>Location:</b><span>@Model.Location</span></p>

<hr/>
<div>
    <pre>
        @Html.ActionLink("Edit", "Edit", new { ID = Model.StudentID })
        @Html.ActionLink("Back to List", "Index")
    </pre>
</div>
